#read only access to this user
MONGODB_URL=
SECRET=
EXPIARY=1h
PORT_BACKEND=8080
PORT_FRONTEND=3000
# s1,s2:basic setup
# s3:validation
# s4: post schema and model
# s5: static images and error handling
# s6: single post display
# s7: image upload
# s8: edit a post
# s9: delete post
# s10: pagination
# s11: adding a user model/schema
# s12: controller: validation+catching validation error && logic
# s13: signing up user